menu "Wi-Fi Configuration"

config WIFI_SSID
    string "Default Wi-Fi SSID"
	default "myssid"
	help
		SSID (network name) for the app to connect to.

config WIFI_PASSWORD
    string "Default Wi-Fi Password"
	default "mypassword"
	help
		Wi-Fi password (WPA or WPA2) for the app to use.

		Can be left blank if the network has no security set.

endmenu


menu "InfluxDB Configuration"

config HOST
	string "Default InfluxDB Host w/ protocol & port"
	default "https://my.influx.db:8086"
	help
		URL of the InfluxDB endpoint to which data should be sent.
		Include protocol (e.g. https://) & port (e.g :8086) as necessary.

config DATB
	string "Default Influx Database Name"
	default "mydb"
	help
		Name of the database at the endpoint to which data should be sent.

config USER
	string "Default Influx Username - Optional"
	default ""
	help
		Optional username for the endpoint to which data should be sent.

config PSWD
	string "Default Influx Password - Optional"
	default ""
	help
		Optional password for the endpoint to which data should be sent.

endmenu
