# Auto-detect crystal frequency
CONFIG_ESP32_XTAL_FREQ_AUTO=y
CONFIG_ESP32_XTAL_FREQ=0

# Enable BLE
CONFIG_BT_ENABLED=y

# Disable Wi-Fi
CONFIG_WIFI_ENABLED=n

# Specify number of supported connections (up to 7)
CONFIG_BT_ACL_CONNECTIONS=4
